# Dependencias generales
configparser
requests
pandas
python-dotenv

# Dependencias específicas de la API (ejemplo)
fastapi
uvicorn

# Dependencias de aprendizaje automático 
tensorflow

# Otras dependencias según sea necesario
# psycopg2 para PostgreSQL, mysql-connector para MySQL
